<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>缘色SCM</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-toggle-off fa-2x"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">样板</a>
        <div class="dropdown-menu">
          {% if request.user.is_office or request.user.is_merchandiser or request.user.is_merchandiser_manager%}
          <a class="dropdown-item" href="{% url 'sample:sampleaddstep1' %}">新建</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'sample:samplelistnew' %}">未完成</a>
          <a class="dropdown-item" href="{% url 'sample:samplelistcompleted' %}">已完成</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">订单</a>
        <div class="dropdown-menu">
          {% if request.user.is_merchandiser or request.user.is_merchandiser_manager%}
          <a class="dropdown-item" href="{% url 'order:orderadd' %}">新建</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'order:orderlistnew' %}">未确认</a>
          <a class="dropdown-item" href="{% url 'order:orderlistconfirmed' %}">已确认</a>
          <a class="dropdown-item" href="{% url 'order:orderlistshipped' %}">已出货</a>
          {% if request.user.is_finance or request.user.is_merchandiser_manager%}
          <a class="dropdown-item" href="{% url 'order:invoicelist' %}">对账单</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'syssetting:syssetting' %}">主唛挂牌</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:postlist' %}">历史信息</a>
      </li>
      {% if request.user.is_factory %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'setting' %}">用户设置</a>
      </li>
      {% endif %}
      {% if request.user.is_merchandiser or request.user.is_merchandiser_manager  %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'report:profit' %}">统计</a>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="d-flex align-items-center">
    {% if user.is_authenticated %}
      <p class="m-0">欢迎你！<strong>{{ user.username }}</strong> <a href="{% url 'logout' %}">登出</a></p>
    {% else %}
      <!-- 此处没有意义,只是暂时保留此写法，因为所有页面必须登录才能访问 -->
      <a href="{% url 'login' %}" class="btn btn-light" role="button">登录</a>
      <a href="{% url 'signup' %}" class="btn btn-primary" role="button">注册</a>
    {% endif %}
  </div>
  
</nav>



