<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'home' %}">首页</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">样板</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'sample:samplelist' %}">未完成</a>
      <a class="dropdown-item" href="{% url 'home' %}">已完成</a>
      <a class="dropdown-item" href="{% url 'sample:samplesearch' %}">查询</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">订单</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'home' %}">未确认</a>
      <a class="dropdown-item" href="{% url 'home' %}">已确认</a>
      <a class="dropdown-item" href="{% url 'home' %}">已出货</a>
      <a class="dropdown-item" href="{% url 'home' %}">装箱单</a>
      <a class="dropdown-item" href="{% url 'home' %}">对账单</a>
      <a class="dropdown-item" href="{% url 'home' %}">查询</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'home' %}">统计</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'post:postlist' %}">历史信息</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">用户设置</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">系统设置</a>
  </li>
</ul>