{% extends 'base_home.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block css%}
<link rel="stylesheet" href="{% static 'css/paginator.css' %}">
{% endblock %}

{% block content %}
  {% if request.user.is_office or request.user.is_merchandiser %}
    <a class="btn btn-outline-primary my-3" href="{% url 'sample:sampleaddstep1'%}" role="button">新建样板</a>
  {% endif %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>创建日期</th>
        <th>样板号</th>
        <th>款式图</th>
        <th>品牌</th>
        <th>买手</th>
        <th>跟单</th>
        <th>工厂</th>
        <th>工厂报价</th>
        <th>寄板日期</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      {% for sample in samples %}
        <tr>
          <td>{{ sample.created_date|date:"SHORT_DATE_FORMAT"  }}</td>
          <td><a href="{% url 'sample:sampleedit'  sample.pk %}">{{ sample.sample_no }}</a></td>
          <td><img src="{{ sample.os_avatar.url }}" width=100px, height=100px></td>
          <td>{{ sample.brand }}</td>
          <td>{{ sample.designer }}</td>
          <td>{{ sample.merchandiser }}</td>
          <td>{{ sample.factory }}</td>
          <td>{{ sample.qutation }}</td>
          <td>{{ sample.parcel_date |date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ sample.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% include 'paginator.html'%}

{% endblock %}