{% extends 'base_home.html' %}
{% load static %}
{% load widget_tweaks %}
{% load basename %}
{% load crispy_forms_tags %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock%}

{% block content %}
<form novalidate>
    <div class="row">
        <div class="col-12 col-md-3 text-left">
            <img  class="rounded" src="{{ sample.os_avatar.url }}" width=120 height=120 alt="款式图">
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                {{ form.sample_no |as_crispy_field }}
            </div>
            <div class="form-group ">
                {{ form.merchandiser |as_crispy_field }}
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                {{ form.brand |as_crispy_field }}
            </div>
            <div class="form-group ">
                {{ form.style|as_crispy_field }}
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                {{ form.designer |as_crispy_field }}
            </div>
            <div class="form-group ">
                {{ form.parcel_date |as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                    <i class="fas fa-file-upload fa-2x"></i></a>
                    <span>款式图</span>
            </div>
            <div class="form-group">
                {{ form.has_os_sample |as_crispy_field }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                <i class="fas fa-file-upload fa-2x"></i></a>
                <span>评语附件</span>
            </div>
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                <i class="fas fa-file-upload fa-2x"></i></a>
                <span>更多原版照</span><span>(未上传)</span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <ul class="mt-2 list-unstyled">
                {% for size_spec in size_specs %}
                    <li class="mx-3">
                        <a href="{{ size_spec.file.url }}">{{ size_spec.file.name |basename }}</a> 
                        <a href="{% url 'sample:samplesizespecdelete' pk=sample.pk  sample_sizespec_pk=size_spec.pk %}">
                        <i class="mx-2 far fa-trash-alt fa-1x"></i></a> 
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                {{ form.alteration |as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 ">
            <div class="form-group ">
                {{ form.factory |as_crispy_field }}
            </div>
        </div>
        <div class="col-12 col-md-3 ">
            <div class="form-group ">
                {{ form.qutation |as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 ">
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                <i class="fas fa-file-upload fa-2x"></i></a>
                <span>色卡</span><span>(未上传)</span>
            </div>
        </div>
        <div class="col-12 col-md-3 ">
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                <i class="fas fa-file-upload fa-2x"></i></a>
                <span>成样照片</span><span>(未上传)</span>
            </div>
        </div>
        <div class="col-12 col-md-3 ">
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                <i class="fas fa-file-upload fa-2x"></i></a>
                <span>报价单</span><span>(未上传)</span>
            </div>
        </div>
        <div class="col-12 col-md-3 ">
            <div class="form-group">
                <a href="{% url 'sample:samplesizespecadd' sample.pk %}" role="button">
                <i class="fas fa-file-upload fa-2x"></i></a>
                <span>成样尺寸表</span><span>(未上传)</span>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm ">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">上一个</button>
            </div>
        </div>
        <div class="col-sm ">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">保存</button>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">返回</button>
            </div>
        </div>
        <div class=" col-sm">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">删除</button>
            </div>
        </div>
        <div class=" col-sm">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">打印</button>
            </div>
        </div>
        <div class=" col-sm">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">通知工厂</button>
            </div>
        </div> 
        <div class=" col-sm">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-primary my-3">下一个</button>
            </div>
        </div>    
    </div>
    </form>
{% endblock %}