{% extends 'base_home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput.css' %}">
{% endblock %}

{% block content %}
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ previous_url }}
        <div id="div_id_attachment" class="form-group attachment ">
            <label for="div_id_attachment">附件</label>
            <input id="fileupload" type="file" name="img" class="inputfile" data-url="{% url 'sample:sampleosavataradd' sample.pk %}">
            <label for="fileupload">选择文件..</label>
        </div>
        {% if  'step2' in previous_url %}
            <a class="btn btn-outline-primary" href="{% url 'sample:sampleaddstep2' pk=sample.pk %}" role="button">返回</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'sample:sampleedit' sample.pk %}" role="button">返回</a>
        {% endif %}
    </form>
{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/fileupload.js' %}"></script>
{% endblock %}