{% extends 'base_home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/paginator.css' %}">
{% endblock %}

{% block content %}
<div>
  <div class="form-group d-flex flex-wrap align-items-end">
    {% for fpic in fpics %}
    <div class="col-3">
      <a href="{{fpic.img.url}}">
      <img src="{{ fpic.img.url}}" width=300 height=300 class="img-thumbnail"></a>    
    </div>
    <div >
      <a href="{% url 'sample:samplefpicdelete' pk=sample.pk sample_fpic_pk=fpic.pk %}">
      <i class="mx-2 far fa-trash-alt fa-1x"></i></a> 
    </div>
    {% endfor %}
  </div>


  <div class="form-group">
      <a class="btn btn-block btn-outline-primary" href="{% url 'sample:sampleedit' pk=sample.pk%}" role="button">返回</a>
  </div>
</div>

{% endblock %}