{% extends 'base_home.html' %}
{% load static %}
{% load basename %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row" style="min-height: 150px;">
    <div class="col-12">
        <div class="form-group">
            <label for="">订单数量</label>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th colspan="3" scope="col">颜色</th>
                        <th class="align-middle" rowspan="2" scope="col">比列</th>
                        <th colspan="5" scope="col">尺码</th>
                        <th colspan="2" scope="col">数量</th>
                        <th class="align-middle" rowspan="2" scope="col">操作</th>
                    </tr>
                    <tr class="text-center">
                        <th scope="col">中文</th>
                        <th scope="col">英文</th>
                        <th scope="col">色号</th>
                        <th scope="col">6</th>
                        <th scope="col">8</th>
                        <th scope="col">10</th>
                        <th scope="col">12</th>
                        <th scope="col">14</th>
                        <th scope="col">中包</th>
                        <th scope="col">数量</th>
                    </tr>
                <thead>
                <form method="post" novalidate>
                {% csrf_token %}
                    <tr class="text-center">
                        <th scope="col">{% render_field form.color class="form-control"%}</th>
                        <th scope="col">{% render_field form.color_cn class="form-control"%}</th>
                        <th scope="col">{% render_field form.color_no class="form-control"%}</th>
                        <th scope="col">{% render_field form.ratio class="form-control"%}</th>
                        <th scope="col">{% render_field form.size1 class="form-control"%}</th>
                        <th scope="col">{% render_field form.size2 class="form-control"%}</th>
                        <th scope="col">{% render_field form.size3 class="form-control"%}</th>
                        <th scope="col">{% render_field form.size4 class="form-control"%}</th>
                        <th scope="col">{% render_field form.size5 class="form-control"%}</th>
                        <th scope="col">{% render_field form.bags class="form-control"%}</th>
                        <th scope="col">{% render_field form.qty class="form-control"%}</th>
                        <th style="width: 12%" scope="col">
                        <input  type="submit" value="保存" class="btn  btn-outline-primary">
                        <a class="btn  btn-outline-primary" href="{% url 'order:orderedit' pk=order.pk%}">返回</a>
                        </th>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}