

{% for each in qs|slice:":3"%}
{% if each.status == 'WARNING' %}
<li style="color:red;">{{each.sample}}
    {% if request.user.is_merchandiser or request.user.is_merchandiser_manager %}
    <i id=fsd{{each.pk}} class="mx-2 fs-delete far fa-trash-alt fa-1x"></i>
    <i id=fse{{each.pk}} class="fs-edit fas fa-edit fa-1x"></i>
    {% endif %}
</li>
{% else %}
<li >{{each.sample}}
    {% if request.user.is_merchandiser or request.user.is_merchandiser_manager %}
    <i id=fsd{{each.pk}} class="mx-2 fs-delete far fa-trash-alt fa-1x"></i>
    <i id=fse{{each.pk}} class="fs-edit fas fa-edit fa-1x"></i>
    {% endif %}
</li>
{% endif %}
{% endfor %}

