{% extends 'base_home.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table id="orderlistnew" class="table table-hover">
    <thead>
      <tr>
        <th>创建日期</th>
        <th>款式图</th>
        <th>订单号</th>
        <th>款号</th>
        <th>品牌</th>
        <th>买手</th>
        <th>跟单</th>
        <th>工厂</th>
        <th>运输</th>
        <th>工厂交期</th>
        <th>客人交期</th>
        <th>目的地</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.created_date |date:"SHORT_DATE_FORMAT"  }}</td>
          <td><img src="{{ order.avatar.file.url }}" width=100px, height=100px></td>
          {% if order.status == 'SHIPPED' %}
            <td><a href="{% url 'order:orderdetail'  order.pk %}">{{ order.po }}</a></td>
          {% else %}
            {% if request.user.is_merchandiser or request.user.is_merchandiser_manager%}
            <td><a href="{% url 'order:orderedit'  order.pk %}">{{ order.po }}</a></td>
            {% else %}
            <td><a href="{% url 'order:orderdetail'  order.pk %}">{{ order.po }}</a></td>
            {% endif %}
          {% endif %}
          <td>{{ order.style_no }}</td>
          <td>{{ order.brand }}</td>
          <td>{{ order.designer }}</td>
          <td>{{ order.merchandiser }}</td>
          {% if order.factory == None %}
          <td></td>
          {% else %}
          <td>{{ order.factory }}</td>
          {% endif %}
          <td>{{ order.get_tran_type_display }}</td>
          {% if order.handover_date_f == None %}
          <td></td>
          {% else %}
          <td>{{ order.handover_date_f |date:"SHORT_DATE_FORMAT" }}</td>
          {% endif %}
          {% if order.handover_date_f == None %}
          <td></td>
          {% else %}
          <td>{{ order.handover_date_d |date:"SHORT_DATE_FORMAT" }}</td>
          {% endif %}
          <td>{{ order.get_destination_display }}</td>
          <td>{{ order.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" ></script>
<script>
$(document).ready( function () {
  var table =$('#orderlistnew').DataTable({
        "language": {
          "processing": "处理中...",
          "loadingRecords": "载入中...",
          "lengthMenu": "显示 _MENU_ 项结果",
          "zeroRecords": "没有符合的结果",
          "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
          "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
          "infoFiltered": "(从 _MAX_ 项结果中过滤)",
          "infoPostFix":  "",
          "search": "搜索:",
          "paginate": {
            "next": "下一页",
            "previous": "上一页",
          }, 
        },
        "order": [[ 0, 'desc' ],]
    });
} );
</script>
{% endblock %}