{% extends 'base_home.html' %}
{% load static %}
{% load basename %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock%}



{% block content %}
<div class="row text-center">
    <div class="col-12 col-md-12">
        <h5>装箱单信息</h5>
        <h6 >状态:{{order.packing_status.get_status_display}} &nbsp 订单号:{{order.po}} &nbsp 款号:{{order.style_no}}
            &nbsp 品牌:{{ order.brand}} &nbsp 工厂:{{order.factory}} &nbsp工厂交期: {{order.handover_date_f |date:"SHORT_DATE_FORMAT"}}
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <table class="table table-sm table-bordered">
            <h6>订单数量</h6>
            <thead>
                    <tr class="text-center">
                        <th colspan="3" scope="col">颜色</th>
                        <th class="align-middle" rowspan="2" scope="col">比列</th>
                        <th colspan="5" scope="col">尺码</th>
                        <th colspan="2" scope="col">数量</th>
                    </tr>
                    {% if order.labeltype == 'NUMBER'%}
                    <tr class="text-center">
                        <th scope="col">中文</th>
                        <th scope="col">英文</th>
                        <th scope="col">色号</th>
                        <th scope="col">6</th>
                        <th scope="col">8</th>
                        <th scope="col">10</th>
                        <th scope="col">12</th>
                        <th scope="col">14</th>
                        <th scope="col">中包</th>
                        <th scope="col">件数</th>
                    </tr>
                    {% else %}
                    <tr class="text-center">
                        <th scope="col">中文</th>
                        <th scope="col">英文</th>
                        <th scope="col">色号</th>
                        <th scope="col">XS</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                        <th scope="col">中包</th>
                        <th scope="col">件数</th>
                    </tr>
                    {% endif %}
                </thead>
                {% if colorqtys %}
                    {%for colorqty in colorqtys%}
                    <tr  class="text-center">
                        <td>{{colorqty.color_cn}}</td>
                        <td>{{colorqty.color}}</td>
                        <td>{{colorqty.color_no}}</td>
                        <td>{{colorqty.ratio}}</td>
                        {% if colorqty.size1 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size1}}</td>
                        {% endif %}
                        {% if colorqty.size2 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size2}}</td>
                        {% endif %}
                        {% if colorqty.size3 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size3}}</td>
                        {% endif %}
                        {% if colorqty.size4 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size4}}</td>
                        {% endif %}
                        {% if colorqty.size5 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size5}}</td>
                        {% endif %}
                        <td>{{colorqty.bags}}</td>
                        <td>{{colorqty.qty}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td class="text-center" colspan="12" scope="col">尚未添加</td>
                </tr>
                {% endif %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <table class="table table-sm table-bordered">
            <h6>实际出货</h6>
            <thead>
                <tr class="text-center">
                    <th colspan="3" scope="col">颜色</th>
                    <th class="align-middle" rowspan="2" scope="col">比列</th>
                    <th colspan="5" scope="col">尺码</th>
                    <th colspan="2" scope="col">数量</th>
                </tr>
                {% if order.labeltype == 'NUMBER'%}
                <tr class="text-center">
                    <th scope="col">中文</th>
                    <th scope="col">英文</th>
                    <th scope="col">色号</th>
                    <th scope="col">6</th>
                    <th scope="col">8</th>
                    <th scope="col">10</th>
                    <th scope="col">12</th>
                    <th scope="col">14</th>
                    <th scope="col">中包</th>
                    <th scope="col">件数</th>
                </tr>
                {% else %}
                <tr class="text-center">
                    <th scope="col">中文</th>
                    <th scope="col">英文</th>
                    <th scope="col">色号</th>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">中包</th>
                    <th scope="col">件数</th>
                </tr>
                {% endif %}
            </thead>
                {%for colorobject in actualqty%}
                <tr class="text-center">
                    <td>{{colorobject.color.color_cn}}</td>
                    <td>{{colorobject.color.color}}</td>
                    <td>{{colorobject.color.color_no}}</td>
                    <td>{{colorobject.color.ratio}}</td>
                    {% if colorobject.qty.size1 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size1}}</td>
                    {% endif %}
                    {% if colorobject.qty.size2 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size2}}</td>
                    {% endif %}
                    {% if colorobject.qty.size3 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size3}}</td>
                    {% endif %}
                    {% if colorobject.qty.size4 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size4}}</td>
                    {% endif %}
                    {% if colorobject.qty.size5 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size5}}</td>
                    {% endif %}
                    {% if colorobject.qty.totalbags == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.totalbags}}</td>
                    {% endif %}
                    {% if colorobject.qty.totalqty == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.totalqty}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-12">
        <div class="form-group">
            <h6>装箱单</h6>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th style="width: 10%" scope="col">颜色</th>
                        <th style="width: 10%" scope="col">开始箱号</th>
                        <th style="width: 10%" scope="col">结束箱号</th>
                        <th style="width: 10%" scope="col">箱数</th>
                        <th style="width: 10%" cope="col">每箱中包数</th>
                        {% if order.labeltype == 'NUMBER'%}
                            <th scope="col">6</th>
                            <th scope="col">8</th>
                            <th scope="col">10</th>
                            <th scope="col">12</th>
                            <th scope="col">14</th>
                        {% else %}
                            <th scope="col">XS</th>
                            <th scope="col">S</th>
                            <th scope="col">M</th>
                            <th scope="col">L</th>
                            <th scope="col">XL</th>
                        {% endif %}
                        <th style="width: 8%" cope="col">件数</th>
                    </tr>
                </thead>

                {% if packing_ctns %}
                {% for packing_ctn in packing_ctns %}
                <tr class="text-center">
                    <td>{{packing_ctn.color}}</td>
                    <td>{{packing_ctn.ctn_start_no}}</td>
                    <td>{{packing_ctn.ctn_end_no}}</td>
                    <td>{{packing_ctn.totalboxes}}</td>
                    <td>{{packing_ctn.bags}}</td>
                    <td>{{packing_ctn.size1}}</td>
                    <td>{{packing_ctn.size2}}</td>
                    <td>{{packing_ctn.size3}}</td>
                    <td>{{packing_ctn.size4}}</td>
                    <td>{{packing_ctn.size5}}</td>
                    <td>{{packing_ctn.totalqty}}</td>
                {% endfor %}
                </tr>
                {% endif %}
                <tr class="text-center">
                    <th scope="col">合计</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {% if orderctnsum.totalboxes == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.totalboxes}}</th>
                    {% endif %}
                    {% if orderctnsum.totalbags == None %}
                    <th>(总中包)</th>
                    {% else %}
                    <th>(总中包){{orderctnsum.totalbags}}</th>
                    {% endif %}
                    {% if orderctnsum.size1 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size1}}</th>
                    {% endif %}
                    {% if orderctnsum.size2 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size2}}</th>
                    {% endif %}
                    {% if orderctnsum.size3 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size3}}</th>
                    {% endif %}
                    {% if orderctnsum.size4 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size4}}</th>
                    {% endif %}
                    {% if orderctnsum.size5 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size5}}</th>
                    {% endif %}
                    {% if orderctnsum.totalqty == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.totalqty}}</th>
                    {% endif %}

                </tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm">
        <div class="form-group">
            {% if order.status == 'NEW' or order.status == 'SENT_FACTORY'%}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistnew' %}" role="button">返回</a>
            {% elif order.status == 'CONFIRMED'%}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistconfirmed' %}" role="button">返回</a>
            {% elif order.status == 'SHIPPED'%}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistshipped' %}" role="button">返回</a>
            {% else %}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistnew' %}" role="button">返回</a>
            {% endif %}
        </div>
    </div>
    <div class=" col-sm">
        <div class="form-group">
            <a href="" class="btn btn-block btn-outline-primary" onclick="window.print()" role="button">打印</a>
        </div>
    </div>
    {% if request.user.is_office or request.user.is_merchandiser%}
        {% if order.packing_status.status == 'SUBMIT'%}
        <div class=" col-sm">
            <div class="form-group">
                <a data-title="提示" class="delete btn btn-block btn-outline-primary" href="{% url 'order:packinglistclose' pk=order.pk %}" role="button">确认装箱单</a>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if request.user.is_office or request.user.is_merchandiser%}
    <div class=" col-sm">
        <div class="form-group">
            <a class=" btn btn-block btn-outline-primary" href="{% url 'order:packinglistreset' pk=order.pk %}" role="button">重置</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


{% block script %}
<!-- 删除项目确认js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    $('a.delete').confirm({
        content: "确认后将不能更改，是否确认？",
        type: 'blue',
        typeAnimated: true,
        buttons: {
        确认: {
            btnClass: 'btn-blue',
            action:function(){
            location.href = this.$target.attr('href');
            },},
        取消: {
            action:function () {
            //close
            },
        }}
    });
</script>
{% endblock %}
