{% extends 'base_home.html' %}
{% load static %}
{% load basename %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock%}

{% block content %}
<div class="row text-center">
    <div class="col-12 col-md-12">
        <h5>装箱单信息</h5>
        <h6>状态:{{order.packing_status.get_status_display}} &nbsp 订单号:{{order.po}} &nbsp 款号:{{order.style_no}}
            &nbsp 品牌:{{ order.brand}} &nbsp 工厂:{{order.factory}} &nbsp工厂交期: {{order.handover_date_f}}
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <table class="table table-sm table-bordered">
            <h6>订单数量</h6>
            <thead>
                    <tr class="text-center">
                        <th colspan="3" scope="col">颜色</th>
                        <th class="align-middle" rowspan="2" scope="col">比列</th>
                        <th colspan="5" scope="col">尺码</th>
                        <th colspan="2" scope="col">数量</th>
                    </tr>
                    {% if order.labeltype == 'NUMBER'%}
                    <tr class="text-center">
                        <th scope="col">中文</th>
                        <th scope="col">英文</th>
                        <th scope="col">色号</th>
                        <th scope="col">6</th>
                        <th scope="col">8</th>
                        <th scope="col">10</th>
                        <th scope="col">12</th>
                        <th scope="col">14</th>
                        <th scope="col">中包</th>
                        <th scope="col">件数</th>
                    </tr>
                    {% else %}
                    <tr class="text-center">
                        <th scope="col">中文</th>
                        <th scope="col">英文</th>
                        <th scope="col">色号</th>
                        <th scope="col">XS</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                        <th scope="col">中包</th>
                        <th scope="col">件数</th>
                    </tr>
                    {% endif %}
                </thead>
                {% if colorqtys %}
                    {%for colorqty in colorqtys%}
                    <tr  class="text-center">
                        <td>{{colorqty.color_cn}}</td>
                        <td>{{colorqty.color}}</td>
                        <td>{{colorqty.color_no}}</td>
                        <td>{{colorqty.ratio}}</td>
                        {% if colorqty.size1 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size1}}</td>
                        {% endif %}
                        {% if colorqty.size2 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size2}}</td>
                        {% endif %}
                        {% if colorqty.size3 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size3}}</td>
                        {% endif %}
                        {% if colorqty.size4 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size4}}</td>
                        {% endif %}
                        {% if colorqty.size5 == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{colorqty.size5}}</td>
                        {% endif %}
                        <td>{{colorqty.bags}}</td>
                        <td>{{colorqty.qty}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td class="text-center" colspan="12" scope="col">尚未添加</td>
                </tr>
                {% endif %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <table class="table table-sm table-bordered">
            <h6>实际出货</h6>
            <thead>
                <tr class="text-center">
                    <th colspan="3" scope="col">颜色</th>
                    <th class="align-middle" rowspan="2" scope="col">比列</th>
                    <th colspan="5" scope="col">尺码</th>
                    <th colspan="2" scope="col">数量</th>
                </tr>
                {% if order.labeltype == 'NUMBER'%}
                <tr class="text-center">
                    <th scope="col">中文</th>
                    <th scope="col">英文</th>
                    <th scope="col">色号</th>
                    <th scope="col">6</th>
                    <th scope="col">8</th>
                    <th scope="col">10</th>
                    <th scope="col">12</th>
                    <th scope="col">14</th>
                    <th scope="col">中包</th>
                    <th scope="col">件数</th>
                </tr>
                {% else %}
                <tr class="text-center">
                    <th scope="col">中文</th>
                    <th scope="col">英文</th>
                    <th scope="col">色号</th>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">中包</th>
                    <th scope="col">件数</th>
                </tr>
                {% endif %}
            </thead>
                {%for colorobject in actualqty%}
                <tr class="text-center">
                    <td>{{colorobject.color.color_cn}}</td>
                    <td>{{colorobject.color.color}}</td>
                    <td>{{colorobject.color.color_no}}</td>
                    <td>{{colorobject.color.ratio}}</td>
                    {% if colorobject.qty.size1 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size1}}</td>
                    {% endif %}
                    {% if colorobject.qty.size2 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size2}}</td>
                    {% endif %}
                    {% if colorobject.qty.size3 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size3}}</td>
                    {% endif %}
                    {% if colorobject.qty.size4 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size4}}</td>
                    {% endif %}
                    {% if colorobject.qty.size5 == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.size5}}</td>
                    {% endif %}
                    {% if colorobject.qty.totalbags == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.totalbags}}</td>
                    {% endif %}
                    {% if colorobject.qty.totalqty == None %}
                    <td></td>
                    {% else %}
                    <td>{{colorobject.qty.totalqty}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
<form  method="post" data-getratio-url="{% url 'order:getratio' %}" novalidate>
{% csrf_token %}
<div class="row">
    <div class="col-12 col-md-12">
        <div class="form-group">
            <h6>装箱单</h6>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th style="width: 10%" scope="col">颜色</th>
                        <th style="width: 10%" scope="col">开始箱号</th>
                        <th style="width: 10%" scope="col">结束箱号</th>
                        <th style="width: 10%" scope="col">箱数</th>
                        <th style="width: 10%" cope="col">每箱中包数</th>
                        {% if order.labeltype == 'NUMBER'%}
                            <th scope="col">6</th>
                            <th scope="col">8</th>
                            <th scope="col">10</th>
                            <th scope="col">12</th>
                            <th scope="col">14</th>
                        {% else %}
                            <th scope="col">XS</th>
                            <th scope="col">S</th>
                            <th scope="col">M</th>
                            <th scope="col">L</th>
                            <th scope="col">XL</th>
                        {% endif %}
                        <th style="width: 8%" cope="col">件数</th>
                        <th style="width: 5%" cope="col">操作</th>
                    </tr>
                </thead>
                
                <tr class="text-center">
                    <td scope="col">{% render_field form.color class="form-control"%}</td>
                    <td scope="col">{% render_field form.ctn_start_no class="form-control boxnumber"%}</td>
                    <td scope="col">{% render_field form.ctn_end_no class="form-control boxnumber"%}</td>
                    <td scope="col">{% render_field form.totalboxes class="form-control"%}</td>
                    <td scope="col">{% render_field form.bags class="form-control boxnumber"%}</td>
                    <td scope="col">{% render_field form.size1 class="form-control"%}</td>
                    <td scope="col">{% render_field form.size2 class="form-control"%}</td>
                    <td scope="col">{% render_field form.size3 class="form-control"%}</td>
                    <td scope="col">{% render_field form.size4 class="form-control"%}</td>
                    <td scope="col">{% render_field form.size5 class="form-control"%}</td>
                    <td scope="col">{% render_field form.totalqty class="form-control"%}</td>
                    <td><input  type="submit" value="添加" class="btn  btn-outline-primary"></td>
                </tr>
                {% if packing_ctns %}
                {% for packing_ctn in packing_ctns %}
                <tr class="text-center">
                    <td>{{packing_ctn.color}}</td>
                    <td>{{packing_ctn.ctn_start_no}}</td>
                    <td>{{packing_ctn.ctn_end_no}}</td>
                    <td>{{packing_ctn.totalboxes}}</td>
                    <td>{{packing_ctn.bags}}</td>
                    <td>{{packing_ctn.size1}}</td>
                    <td>{{packing_ctn.size2}}</td>
                    <td>{{packing_ctn.size3}}</td>
                    <td>{{packing_ctn.size4}}</td>
                    <td>{{packing_ctn.size5}}</td>
                    <td>{{packing_ctn.totalqty}}</td>
                    <td><a data-title="提示" class="delete" href="{% url 'order:packinglistdelete' pk=order.pk  plpk=packing_ctn.pk %}">删除</a></td>
                {% endfor %}
                </tr>
                {% endif %}
                <tr class="text-center">
                    <th scope="col">合计</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {% if orderctnsum.totalboxes == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.totalboxes}}</th>
                    {% endif %}
                    {% if orderctnsum.totalbags == None %}
                    <th>(总中包)</th>
                    {% else %}
                    <th>(总中包){{orderctnsum.totalbags}}</th>
                    {% endif %}
                    {% if orderctnsum.size1 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size1}}</th>
                    {% endif %}
                    {% if orderctnsum.size2 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size2}}</th>
                    {% endif %}
                    {% if orderctnsum.size3 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size3}}</th>
                    {% endif %}
                    {% if orderctnsum.size4 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size4}}</th>
                    {% endif %}
                    {% if orderctnsum.size5 == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.size5}}</th>
                    {% endif %}
                    {% if orderctnsum.totalqty == None %}
                    <th></th>
                    {% else %}
                    <th>{{orderctnsum.totalqty}}</th>
                    {% endif %}
                    <th scope="col"></th>
                </tr>
            </table>
        </div>
    </div>
</div>
</form> 
<div class="row">
    <div class="col-sm">
        <div class="form-group">
            {% if order.status == 'NEW' or order.status == 'SENT_FACTORY'%}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistnew' %}" role="button">返回</a>
            {% elif order.status == 'CONFIRMED'%}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistconfirmed' %}" role="button">返回</a>
            {% elif order.status == 'SHIPPED'%}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistshipped' %}" role="button">返回</a>
            {% else %}
                <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderlistnew' %}" role="button">返回</a>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_factory%}
    <div class=" col-sm">
        <div class="form-group">
            <a  class="btn btn-block btn-outline-primary" href="{% url 'order:packinglistsubmit' pk=order.pk %}" role="button">提交</a>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script>
    var colorratio=[];
    var eachbagpcses = 0;

    $(document).ready(function(){

        $(".boxnumber").change(function(){
            var ctn_start_no = parseInt($("#id_ctn_start_no").val(), 10) || 0;
            var ctn_end_no = parseInt($("#id_ctn_end_no").val(), 10) || 0;
            var totalboxes = (ctn_end_no - ctn_start_no) + 1;
            var id_bags = parseInt($("#id_bags").val(), 10) || 0;
            var total_bags = id_bags*totalboxes;
            if (ctn_start_no != '' && ctn_end_no != ''){
                if( ctn_start_no > ctn_end_no){
                    $.alert({
                        title: '提示!',
                        content: '开始箱号应小于结束箱号!',
                            });
                    $("#id_ctn_start_no").val("");
                    $("#id_ctn_end_no").val("");
                    $("#id_totalboxes").val("");
                    $("#id_bags").val("");
                    $("#id_size1").val("");
                    $("#id_size2").val("");
                    $("#id_size3").val("");
                    $("#id_size4").val("");
                    $("#id_size5").val("");
                    $("#id_totalqty").val("");
                }
                else{
                    $("#id_totalboxes").val(totalboxes);
                    $("#id_size1").val(colorratio[0]*total_bags);
                    $("#id_size2").val(colorratio[1]*total_bags);
                    $("#id_size3").val(colorratio[2]*total_bags);
                    $("#id_size4").val(colorratio[3]*total_bags);
                    $("#id_size5").val(colorratio[4]*total_bags);
                    console.log(eachbagpcses)
                    $("#id_totalqty").val(eachbagpcses*id_bags*totalboxes);
                }
            };
        });

        $("#id_color").change(function () {
        var form = $(this).closest("form");
        $.ajax({
            url: form.attr("data-getratio-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                colorratio = data['ratio'];
                colorratio.forEach(function(num){eachbagpcses+=parseInt(num) || 0;});

            }
            });
            });

    });
  </script>
{% endblock %}
