{% extends 'base_home.html' %}
{% load basename %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="card">
        <div class="card-header text-center">
            <h3>{{ post.title }}</h3>
            <!-- <p>{{ post.catagory }}</p> -->
        </div>
        <div class="card-body">
            <!-- <h5 class="card-title text-center">{{ post.title }}</h5> -->
            <p class="card-text">{{ post.content }}</p>
            <p class="text-right">发布人: {{ post.created_by }}</p>
            <p class="text-right">发布时间:{{ post.create_time|date:"SHORT_DATE_FORMAT"  }}</p>
        </div>
        <div class="card-footer text-left">
            <div id="div_id_attachment" class="form-group attachment ">
                <label for="div_id_attachment">附件</label>
                <ul>
                {% for attach in attachments %}
                    <li>
                        <a href="{{ attach.file.url }}">{{ attach.file.name |basename }}</a> 
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}