{% extends 'base_home.html' %}
{% load static %}
{% load basename %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'header.html'%}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form |crispy }}
        <div id="div_id_attachment" class="form-group attachment ">
            <label for="div_id_attachment">附件</label>
            <ul>
            {% for attach in attachments %}
                <li>
                    <a href="{{ attach.file.url }}">{{ attach.file.name |basename }}</a><a href="{% url 'post:postattachdelete' pk=post.pk  postattach_pk=attach.pk %}"><i class="icon-cancel-outline" ></i></a> 
                </li>
            {% endfor %}
            </ul>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="保存">
        <a class="btn btn-outline-primary" href="{% url 'post:postlist' %}" role="button">返回</a>
        <a class="btn btn-outline-primary" href="{% url 'post:postdelete' post.pk %}" role="button">删除</a>
        <a class="btn btn-outline-primary" href="{% url 'post:postattach' post.pk %}" role="button">添加附件</a>
    </form>
{% endblock %}